@charset "UTF-8";

*{font-family:'KyoboHandwriting2020A';}
.check{color: red;}
a{text-decoration: none; color: black }

.headerinfo{font-family: 'KOHIBaeumOTF';}

@font-face {
    font-family: 'KyoboHandwriting2020A';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KOHIBaeumOTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#must_do{color: red;}

#mainp{font-size: 65px;  color: BLACK;}

#mainp2{font-size: 45px; color: BLACK;}

#mainlogo{width: 100%;}

#welcome{font-size: 30px;};

#main1{background: yellow};

